@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?fikfc6');
  src:  url('./fonts/icomoon.eot?fikfc6#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?fikfc6') format('truetype'),
    url('./fonts/icomoon.woff?fikfc6') format('woff'),
    url('./fonts/icomoon.svg?fikfc6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-custom-play:before {
  content: "\e9999";
}
.icon-profile-icon:before {
  content: "\e9998";
}
.icon-search-big:before {
  content: "\e9997";
}
.icon-down-arrow:before {
  content: "\e9996";
}
.icon-up-arrow:before {
  content: "\e9995";
}
.icon-left-arrow:before {
  content: "\e9994";
}
.icon-eye-show:before {
  content: "\e999";
}
.icon-plus-button:before {
  content: "\e998";
}
.icon-eye-hide:before {
  content: "\e997";
}
.icon-remove:before {
  content: "\e996";
}
