<link rel="stylesheet" href="./style.css">
<div class="preloader-wrap">
  <div class="percentage" id="precent"></div>
  <div class="loader">
    <div class="trackbar">
      <div class="loadbar"></div>
    </div>
    <div class="glow"></div>
  </div>
</div>

<div class="wrap">
  <span class="copyrights">Image taken from: <a href="http://www.wallpaperfx.com">wallpaperfx.com</a></span>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="./main.js"></script>