#text-animation{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.text-animation-heading span:not(.fade){
    opacity: 0;
}

.text-animation-heading span{

    color: black;
    transition: all .3s ease-in;    
}

.fade{
    opacity: 1;
}