@import 'bootstrap/scss/bootstrap.scss';
.transition-entering {
    opacity :.8 !important
 }
 .transition-entered{
    opacity : 1!important
 }
 .transition-exiting{
    opacity: .8!important
 }
 .transition-exited{
    opacity : 0!important
 }

div[class^="transition-"]{
 opacity :0;
 transition: all .3s;
}

.alert-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  .alert-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
  }
  .alert-exit {
    opacity: 1;
  }
  .alert-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }

  .bar{
    margin: 76px;
    border: 1px solid gainsboro;
    width: 350px;
    height: 250px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  