<h1>Controller Window</h1>
<p>
    This document is on the domain: https://codepen.io
</p>
<p>
    <button id="send">Send Message</button>
</p>

<iframe id="receiver" src="http://localhost:8080" width="500" height="200">
    <p>Your browser does not support iframes.</p>
</iframe>

<script>
    window.onload = function () {
        // Get the window displayed in the iframe.
        var receiver = document.getElementById('receiver').contentWindow;

        // Get a reference to the 'Send Message' button.
        var btn = document.getElementById('send');

        // A function to handle sending messages.
        function sendMessage(e) {
            // Prevent any default browser behaviour.
            e.preventDefault();
            receiver.postMessage(
                'mytoken'
                , "http://localhost:8080");
        }

        // Add an event listener that will execute the sendMessage() function
        // when the send button is clicked.
        btn.addEventListener('click', sendMessage);
    }
</script>